<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://kit.fontawesome.com/3a26eedc84.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="logo-and-search-bar">
            <a href="/home" id="logo-home"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo-mercado-liebre"></a>
            <input type="text" placeholder="Busca productos, marcas">
            <button id="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
            <p class="texto-centrado cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</p>
        </div>
        <nav>
            <ul class="site">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="login-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fa-solid fa-bars fa-lg" style="color: #ffffff;"></i>
            </div>
        </nav>
    </header>
    <img src="/images/img-home-banner.jpg" alt="banner" class="banner">
    <main>
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <div class="article-flex">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360px">
                    <div class="desc-container">
                        <div class="precio-descuento-truck">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>                    
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" width="360px">
                    <div class="desc-container">
                        <div class="precio-descuento-truck">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <h4 class="descripciones">Macbook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="360px">
                    <div class="desc-container">
                        <div class="precio-descuento-truck">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h4 class="descripciones">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Samguns Smart-TV" width="360px">
                    <div class="desc-container">
                        <div class="precio-descuento-truck">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h2 class="titulares">Sección de Ofertas</h2>
            <div class="article-flex">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360px">
                    <div class="desc-container">
                        <div class="precio-descuento-truck">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" width="360px">
                    <div class="desc-container">
                        <div class="precio-descuento-truck">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <h4 class="descripciones">Macbook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="360px">
                    <div class="desc-container">
                        <div class="precio-descuento-truck">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h4 class="descripciones">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Samguns Smart-TV" width="360px">
                    <div class="desc-container">
                        <div class="precio-descuento-truck">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card fa-2xl footer-icon" style="color: #1259c3;"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="cuerpo-texto texto-centrado footer-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift fa-2xl footer-icon" style="color: #1259c3;"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="cuerpo-texto texto-centrado footer-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield fa-2xl footer-icon" style="color: #1259c3;"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p class="cuerpo-texto texto-centrado footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <p class="cuerpo-texto copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>