:root {
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259C3;
    --color-gris-oscuro: #666666;
    --color-gris-claro: #ebebeb;
    --color-verde: #39B54A;
    --color-negro: #000000;
    --color-blanco: #FFFFFF;
}
/* 
    Paleta de colores

- Amarillo: #EAC926;
- Azul: #03264C;
- Celeste: #1259c3;
- Gris oscuro: #666;
- Gris claro: #ebebeb;
- Verde: #39b54a; 

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/* Tamaños tipográficos */

.titulares {
    font-size: 24px;
    line-height: 32px;
}

.cuerpo-texto {
    font-size: 12px;
}

.precios {
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    max-width: 45%;
    margin-right: 5px;
}

.descuentos {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-verde);
    margin-top: 0;
    max-width: 55%;
}

.descripciones {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gris-oscuro);
    font-weight: normal;
    display: none;
}



/* Body */

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--color-gris-claro);
}

.banner {
    width: 100%;
}

/* Header */

header {
    background-color: var(--color-amarillo);
    padding: 10px;
}

#logo-home {
    width:30%;
}

#logo-home img {
    width: 100%;
}

.logo-and-search-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

#logo-mercado-liebre {
    width: 45%;
    max-width: 500px;
}

.logo-and-search-bar input {
    width: 40%;
    margin-top: 10px;
    max-width: 500px;
    align-self: center;
    border-radius: 2px;
}

#boton-busqueda {
    margin-top: 10px;
}

.cuotas {
    margin-top: 20px;
}

section .titulares {
    margin-top: 40px;
    margin-bottom: 20px;
}

.texto-centrado {
    text-align: center;
}

.site, .login-navbar {
    display: none;
}

nav, nav ul {
    padding-left: 0;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: var(--color-negro);
}

nav li {
    list-style: none;
}


.burger-menu {
    width: 30px;
    height: 30px;
    background-color: var(--color-celeste);
    margin: 0 auto;
    padding: 5px;
    text-align:center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.burger-menu i {
    margin-top: 45%;
}



/* Main */
main section {
    display: flex;
    flex-flow: column wrap;
    min-height: 430px;
    margin-bottom:0;
}

.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-verde);
    border-radius: 50%;
    background-color: var(--color-blanco);
    position: absolute;
    right: 1px;
    top: -40px;
    color: var(--color-verde);
    margin-top: 10px;
}

.precio-descuento-truck {
    position: relative;
    border: none;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding: 0;
}

.desc-container {
    border-bottom:none;
}

main {
    text-align: center;
    margin: auto;
    width: 90vw;
}

main img {
    width: 80%;
}

main div {
    text-align: left;
    margin-bottom: 10px;
    border: 1px solid var(--color-gris-claro);
    padding: 15px;
}

article {
    background: var(--color-blanco);
    text-align:center;
}

article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: .3s;
}

article:hover .descripciones {
    display:block;
    transition: .3s;
}

article:hover .fa-truck {
    transform: rotate(-90deg);
    transition: .3s;
}


/* Footer */

footer {
    margin: 10px 5px 5px 5px;
    background-color: var(--color-blanco);
    padding: 30px 5px 5px 5px;
    color: var(--color-gris-oscuro);
}

.footer-p {
    margin: 0 0 30px 0;
    padding: 0 35px 0 35px;
}

footer h4 {
    margin-bottom: 10px;
    margin-top: 25px;
}

footer section {
    text-align:center;
}

.footer-icon {
    margin-bottom: 10px;
    margin-top: 30px;
}

.copyright {
    text-align: left;
    margin-top: 50px;
}



/* Tablet design */

@media (min-width: 361px) {

    /* Header */

    #logo-mercado-liebre {
        width: 30%;
    }
    
    .logo-and-search-bar input {
        width: 30%;
    }

    .cuotas {
        width: 30%;
    }

    nav {
        margin-top: 60px;
        margin-bottom: 10px;
        padding: 0;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .site, .login-navbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .site {
        width: 35%;
    }
    
    .login-navbar {
        width: 35%;
    }

    .burger-menu {
        display: none;
    }

    /* Main */

    article {
        max-width: 40%;
        margin-bottom: 20px;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition: .3s;
    }

    article:hover .descripciones {
        display:block;
        transition: .3s;
    }
    
    article:hover .fa-truck {
        transform: rotate(-90deg);
        transition: .3s;
    }

    .article-flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: baseline;
        gap: 10px;
        padding: 0;
    }

    .precio-descuento-truck {
        flex-flow: column wrap;
    }
}

@media (min-width: 550px) {
    .precio-descuento-truck {
        flex-flow: row wrap;
    }
}


/* Desktop design */

@media (min-width: 769px) {
    /* Header */
    nav {
        margin-top: 60px;
        margin-bottom: 10px;
        padding: 0;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .site, .login-navbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        font-size: 16px;
    }

    .site {
        width: 35%;
    }
    
    .login-navbar {
        width: 35%;
    }

    .burger-menu {
        display: none;
    }

    /* Main */

    section .titulares {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    article {
        max-width: 20%;
        margin-bottom: 20px;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition: .3s;
    }

    article:hover .descripciones {
        display:block;
        transition: .3s;
    }
    
    article:hover .fa-truck {
        transform: rotate(-90deg);
        transition: .3s;
    }

    .article-flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: baseline stretch;
    }

    .precio-descuento-truck {
        flex-flow: column wrap;
    }

    /* Footer */

    footer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    footer section {
        max-width: 30%;
    }

    footer section:last-child {
        position: relative;
        right: 35%;
    }

}

@media (min-width: 1100px) {
    .precio-descuento-truck {
        flex-flow: row wrap;
    }
}


