:root {
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259C3;
    --color-gris-oscuro: #666666;
    --color-gris-claro: #ebebeb;
    --color-verde: #39B54A;
    --color-negro: #000000;
    --color-blanco: #FFFFFF;
}

/* 
    Paleta de colores

- Amarillo: #EAC926;
- Azul: #03264C;
- Celeste: #1259c3;
- Gris oscuro: #666;
- Gris claro: #ebebeb;
- Verde: #39b54a; 

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--color-gris-claro);
}

.banner {
    width: 100%;
}

/* Header */

header {
    background-color: var(--color-amarillo);
    padding: 10px;
}

.logo-and-search-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

#logo-mercado-liebre {
    width: 45%;
    max-width: 500px;
}

.logo-and-search-bar input {
    width: 40%;
    margin-top: 10px;
    max-width: 500px;
    align-self: center;
    border-radius: 2px;
}

#boton-busqueda {
    margin-top: 10px;
}

.cuotas {
    margin-top: 20px;
}

section .titulares {
    margin-top: 40px;
    margin-bottom: 20px;
}

.texto-centrado {
    text-align: center;
}

.site, .login-navbar {
    display: none;
}

nav, nav ul {
    padding-left: 0;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: var(--color-negro);
}

nav li {
    list-style: none;
}


.burger-menu {
    width: 30px;
    height: 30px;
    background-color: var(--color-celeste);
    margin: 0 auto;
    padding: 5px;
    text-align:center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.burger-menu i {
    margin-top: 45%;
}



/* Main */
span {
    color: #FF0000;
    font-size: 12px;
    display:none;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.form-userPass {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 50vh;
}

.form-userPass input {
    width: 70vw;
    min-width: 50vw;
    border: none;
    min-height: 50px;
    border-radius: 7px;
    padding-left: 10px;
}

.form-userPass__user {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-userPass__pass {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-submit {
    width: 70vw;
    background: var(--color-celeste);
    min-height: 50px;
    border-radius: 7px;
    border:none;
    color: var(--color-blanco);
}

.form-submit:hover {
    background: #0022AA;
    transition: .3s;
}

/* Footer */

footer {
    margin: 10px 5px 5px 5px;
    background-color: var(--color-blanco);
    padding: 30px 5px 5px 5px;
    color: var(--color-gris-claro);
}

.footer-p {
    margin: 0 0 30px 0;
    padding: 0 35px 0 35px;
}

footer h4 {
    margin-bottom: 10px;
    margin-top: 25px;
}

footer section {
    text-align:center;
}

.footer-icon {
    margin-bottom: 10px;
    margin-top: 30px;
}

.copyright {
    text-align: left;
    margin-top: 50px;
}



/* Tablet design */

@media (min-width: 361px) {

    /* Header */

    #logo-mercado-liebre {
        width: 30%;
    }
    
    .logo-and-search-bar input {
        width: 30%;
    }

    nav {
        margin-top: 60px;
        margin-bottom: 10px;
        padding: 0;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .site, .login-navbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .site {
        width: 35%;
    }
    
    .login-navbar {
        width: 35%;
    }

    .burger-menu {
        display: none;
    }
}


/* Desktop design */

@media (min-width: 769px) {

    /* Header */

    nav {
        margin-top: 60px;
        margin-bottom: 10px;
        padding: 0;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .site, .login-navbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        font-size: 16px;
    }

    .site {
        width: 35%;
    }
    
    .login-navbar {
        width: 35%;
    }

    .burger-menu {
        display: none;
    }

    /* Footer */

    footer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    footer section {
        max-width: 30%;
    }

    footer section:last-child {
        position: relative;
        right: 35%;
    }
}


