<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="https://kit.fontawesome.com/3a26eedc84.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre | Iniciar Sesión</title>
</head>
<body>
    <header>
        <div class="logo-and-search-bar">
            <a href="/" id="logo-home"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo-mercado-liebre"></a>
            <input type="text" placeholder="Busca productos, marcas">
            <button id="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
            <p class="texto-centrado cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</p>
        </div>
        <nav>
            <ul class="site">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="login-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fa-solid fa-bars fa-lg" style="color: #ffffff;"></i>
            </div>
        </nav>
    </header>
    <main>
        <form action="/home" method="POST">
            <div class="form-userPass">
                <div class="form-userPass__user">
                    <input type="text" name="nombreUsuario" placeholder="Nombre de Usuario" required>
                    <span>El usuario ingresado no existe, ingresa un usuario válido o registrate.</span>
                </div>
                <div class="form-userPass__pass">
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <span>La contraseña ingresada no es correcta.</span>
                </div>
            </div>
            <a href="/"><button type="submit" class="form-submit">Enviar</button></a>
        </form>
    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card fa-2xl footer-icon" style="color: #1259c3;"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="cuerpo-texto texto-centrado footer-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift fa-2xl footer-icon" style="color: #1259c3;"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="cuerpo-texto texto-centrado footer-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield fa-2xl footer-icon" style="color: #1259c3;"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p class="cuerpo-texto texto-centrado footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <p class="cuerpo-texto copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>